@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
html {
  font-size: 62.5%;
}

:root {
  --clr-light: #fff;
  --clr-dark: rgb(25, 25, 25);

  --clr-primary: rgb(255, 169, 90);
  --clr-secondary: rgb(25, 33, 90);

  --ff-primary: 'Helvetica, Arial, sans-serif';
  --ff-secondary: 'Montserrat', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-large: 1.6rem;
  --fs-small: 1rem;
}

body {
  min-height: 100vh;
  background-color: var(--clr-primary);
}

a:hover {
  color: var(--clr-light);
}

body, input, select, textarea {
  font-size: 1.6rem;
  font-family: var(--ff-primary);
}

/* Website Grid */
.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr; 
  height: 100vh;
}

header {
  grid-area: header;
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  display: flex;
  align-items: center;
  padding: 1rem;
}

header a {
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: var(--fw-bold);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Main Component */
.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 75%;
}

.sidebar {
  flex: 1 25%;
}

/* Products Component */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 2.5rem;
}

.products li {
  flex: 0 1 33rem;
  height: auto;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-secondary);
  border-radius: 20px;
}


.products img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.product-price div, .product-price button {
  text-align: center;
}

.price {
  width: 50%;
  color: var(--clr-light);
}

.product-price div {
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.product-price .btn {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-light);
  color: var(--clr-light);
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  outline: none;
}

.product-price .btn:hover {
  background-color: var(--clr-light);
  border: 2px solid var(--clr-secondary);
  color: var(--clr-secondary);
  font-weight: var(--fw-bold);
}

.product:hover {
  border: 2px solid var(--clr-light);
}

.product:hover p {
  color: var(--clr-light);
}

.product a {
  text-decoration: none;
}

.product a p {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  color: var(--clr-light);
  white-space: nowrap; 
  width: 25rem; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

/* Filter Component */
.filter {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 2px solid var(--clr-secondary);
}

.filter div {
  flex: 1;
  font-weight: var(--fw-bold);
}

/* Cart Component */
.cart {
  padding: 1rem;
  margin: 1.2rem;
  display: flex;
}

.cart-header {
  border-bottom: 2px solid var(--clr-secondary);
  font-weight: var(--fw-bold);
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
  border-radius: 5px;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: .5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}

.cart-item {
  background-color: var(--clr-secondary);
  border: 2px solid var(--clr-secondary);
  border-radius: 10px;
  padding: 5px;
  color: var(--clr-light);
  margin-bottom: 1rem;
}

.cart-item .btn {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-light);
  color: var(--clr-light);
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  outline: none;
}

.cart-item .btn:hover {
  background-color: var(--clr-light);
  border: 2px solid var(--clr-secondary);
  color: var(--clr-secondary);
  font-weight: var(--fw-bold);
}

.cart .btn-secondary {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: var(--clr-light);
  border: 2px solid var(--clr-secondary);
  color: var(--clr-secondary);
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  outline: none;
}

.cart .btn-secondary:hover {
  background-color: var(--clr-secondary);
  border: 2px solid var(--clr-light);
  color: var(--clr-light);
  font-weight: var(--fw-bold);
}

.cart-item .item-title {
  white-space: nowrap; 
  width: 20rem; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.total > div {
  color: var(--clr-secondary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-large);
}

.total > div, .total > button {
  flex: 1;
}