* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
:root {
  --clr-light: #fff;
  --clr-dark: rgb(25, 25, 25);

  --clr-primary: rgb(255, 169, 90);
  --clr-secondary: rgb(25, 33, 90);

  --ff-primary: 'Helvetica, Arial, sans-serif';

  --fw-regular: 400;
  --fw-bold: 600;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--clr-primary);
}

a:hover {
  color: var(--clr-light);
}

body, input, select, textarea {
  font-size: 1.6rem;
  font-family: var(--ff-primary);
}

/* Website Grid */
.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr; 
  height: 100vh;
}

header {
  grid-area: header;
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  display: flex;
  align-items: center;
  padding: 1rem;
}

header a {
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: var(--fw-bold);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}